USE [master]
GO
/****** Object:  Database [18018_DB]    Script Date: 20.4.2018. 1:05:14 ******/
CREATE DATABASE [18018_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'18018_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.PISERVER\MSSQL\DATA\18018_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'18018_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.PISERVER\MSSQL\DATA\18018_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [18018_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [18018_DB]
GO
USE [18018_DB]
GO
/****** Object:  User [18018_User]    Script Date: 20.4.2018. 1:05:14 ******/
CREATE USER [18018_User] FOR LOGIN [18018_User] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [18018_User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [18018_User]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [18018_User]
GO
/****** Object:  Table [dbo].[Artikli]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artikli](
	[ID] [int] NOT NULL,
	[KategorijaID] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Cijena] [numeric](18, 2) NOT NULL,
	[StanjeNaSkladistu] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Artikli] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kase]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kase](
	[ID] [int] NOT NULL,
	[StanjeKase] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Kase] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorije]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorije](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kategorije] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UlogaID] [int] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[Lozinka] [nvarchar](12) NOT NULL,
	[Adresa] [nvarchar](100) NOT NULL,
	[Posta] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Korisnici] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narudzbe]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narudzbe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RacunID] [int] NULL,
	[StolID] [int] NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[Datum] [datetime] NOT NULL,
 CONSTRAINT [PK_Naruđbe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polozi]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polozi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KasaID] [int] NOT NULL,
	[Datum] [datetime] NOT NULL,
	[TipPologa] [tinyint] NOT NULL,
	[Iznos] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Polozi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Primke]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Primke](
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Primke] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racuni]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racuni](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NacinPlacanja] [nvarchar](50) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Opis] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Racuni] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkeNarudzbe]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkeNarudzbe](
	[NarudzbaID] [int] NOT NULL,
	[ArtiklID] [int] NOT NULL,
	[Kolicina] [int] NOT NULL,
 CONSTRAINT [PK_StavkeNarudzbe] PRIMARY KEY CLUSTERED 
(
	[NarudzbaID] ASC,
	[ArtiklID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkePrimke]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkePrimke](
	[ArtiklID] [int] NOT NULL,
	[PrimkaID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Dobavljac] [nvarchar](50) NOT NULL,
	[Kolicina] [int] NOT NULL,
 CONSTRAINT [PK_StavkePrimke] PRIMARY KEY CLUSTERED 
(
	[ArtiklID] ASC,
	[PrimkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stolovi]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stolovi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BrojMjesta] [int] NOT NULL,
 CONSTRAINT [PK_Stolovi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uloge]    Script Date: 20.4.2018. 1:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uloge](
	[ID] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Uloge] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artikli]  WITH CHECK ADD  CONSTRAINT [FK_Artikli_Kategorije] FOREIGN KEY([KategorijaID])
REFERENCES [dbo].[Kategorije] ([ID])
GO
ALTER TABLE [dbo].[Artikli] CHECK CONSTRAINT [FK_Artikli_Kategorije]
GO
ALTER TABLE [dbo].[Korisnici]  WITH CHECK ADD  CONSTRAINT [FK_Korisnici_Narudzbe] FOREIGN KEY([UlogaID])
REFERENCES [dbo].[Narudzbe] ([ID])
GO
ALTER TABLE [dbo].[Korisnici] CHECK CONSTRAINT [FK_Korisnici_Narudzbe]
GO
ALTER TABLE [dbo].[Korisnici]  WITH CHECK ADD  CONSTRAINT [FK_Korisnici_Uloge] FOREIGN KEY([UlogaID])
REFERENCES [dbo].[Uloge] ([ID])
GO
ALTER TABLE [dbo].[Korisnici] CHECK CONSTRAINT [FK_Korisnici_Uloge]
GO
ALTER TABLE [dbo].[Narudzbe]  WITH CHECK ADD  CONSTRAINT [FK_Narudzbe_Racuni] FOREIGN KEY([RacunID])
REFERENCES [dbo].[Racuni] ([ID])
GO
ALTER TABLE [dbo].[Narudzbe] CHECK CONSTRAINT [FK_Narudzbe_Racuni]
GO
ALTER TABLE [dbo].[Narudzbe]  WITH CHECK ADD  CONSTRAINT [FK_Narudzbe_Stolovi] FOREIGN KEY([StolID])
REFERENCES [dbo].[Stolovi] ([ID])
GO
ALTER TABLE [dbo].[Narudzbe] CHECK CONSTRAINT [FK_Narudzbe_Stolovi]
GO
ALTER TABLE [dbo].[Polozi]  WITH CHECK ADD  CONSTRAINT [FK_Polozi_Kase] FOREIGN KEY([KasaID])
REFERENCES [dbo].[Kase] ([ID])
GO
ALTER TABLE [dbo].[Polozi] CHECK CONSTRAINT [FK_Polozi_Kase]
GO
ALTER TABLE [dbo].[StavkeNarudzbe]  WITH CHECK ADD  CONSTRAINT [FK_StavkeNarudzbe_Artikli] FOREIGN KEY([ArtiklID])
REFERENCES [dbo].[Artikli] ([ID])
GO
ALTER TABLE [dbo].[StavkeNarudzbe] CHECK CONSTRAINT [FK_StavkeNarudzbe_Artikli]
GO
ALTER TABLE [dbo].[StavkeNarudzbe]  WITH CHECK ADD  CONSTRAINT [FK_StavkeNarudzbe_Narudzbe] FOREIGN KEY([NarudzbaID])
REFERENCES [dbo].[Narudzbe] ([ID])
GO
ALTER TABLE [dbo].[StavkeNarudzbe] CHECK CONSTRAINT [FK_StavkeNarudzbe_Narudzbe]
GO
ALTER TABLE [dbo].[StavkePrimke]  WITH CHECK ADD  CONSTRAINT [FK_StavkePrimke_Artikli] FOREIGN KEY([ArtiklID])
REFERENCES [dbo].[Artikli] ([ID])
GO
ALTER TABLE [dbo].[StavkePrimke] CHECK CONSTRAINT [FK_StavkePrimke_Artikli]
GO
ALTER TABLE [dbo].[StavkePrimke]  WITH CHECK ADD  CONSTRAINT [FK_StavkePrimke_Primke] FOREIGN KEY([PrimkaID])
REFERENCES [dbo].[Primke] ([ID])
GO
ALTER TABLE [dbo].[StavkePrimke] CHECK CONSTRAINT [FK_StavkePrimke_Primke]
GO
USE [master]
GO
